---
import PageLayout from '../../layouts/PageLayout.astro';

const title = "Nox' blog";
const hero  = "/images/nox-schrijft-hero2.png";
---

<PageLayout {title} {hero}>
  <section>
    <h2>Laatste berichten</h2>
    <p>Hier komen straks de blogposts.</p>
  </section>
</PageLayout>
