---
import PageLayout from "../layouts/PageLayout.astro";

const title = "Account";
const hero  = "/images/nox-account-hero1.png";
---

<PageLayout {title} {hero}>
  <section>
    
  </section>
</PageLayout>
