---
import PageLayout from "../layouts/PageLayout.astro";

const title = "Beheer";
const hero  = "/images/nox-beheer-hero1.png";
---

<PageLayout {title} {hero}>
  <section>

  </section>
</PageLayout>