---
import PageLayout from "../layouts/PageLayout.astro";

const title = "Nox' blog";
const hero  = "/images/nox-schrijft-hero2.png";
---

<PageLayout {title} {hero}>
  <article>
    <h2>Eerste bericht</h2>
    <p>Welkom op Nox’ blog. Hier deelt hij zijn avonturen, ontdekkingen en natuurlijk de beste verhalen uit het bos.</p>
  </article>

  <article>
    <h2>Tweede bericht</h2>
    <p>Nox houdt ook van puzzelen en fotograferen. Binnenkort vind je hier meer updates en foto’s.</p>
  </article>
</PageLayout>
