---
import PageLayout from "../layouts/PageLayout.astro";

const title = "Contact met Nox";
const hero  = "/images/nox-contact-hero1.png";
---

<PageLayout {title} {hero}>
  <section>

  </section>
</PageLayout>
