---
import PageLayout from "../layouts/PageLayout.astro";

const title = "Inloggen";
const hero  = "/images/nox-login-hero1.png";
---

<PageLayout {title} {hero}>
  <section>

    <!-- hier kan later het loginformulier komen -->
  </section>
</PageLayout>
