---
import PageLayout from "../layouts/PageLayout.astro";

const title = "Nox' puzzelpagina";
const hero  = "/images/nox-puzzelt-hero1.png";
---

<PageLayout {title} {hero}>
  <section>
    <h2>Puzzels</h2>
    <p>Hier komen straks de puzzels die je met Nox kunt spelen.</p>
  </section>
</PageLayout>
