---
import PageLayout from "../layouts/PageLayout.astro";

const title = "Nox' wedstrijd";
const hero  = "/images/nox-wedstrijd-hero1.png";
---

<PageLayout {title} {hero}>
  <section>

  </section>
</PageLayout>
